language: php

php:
  - 5.3
  - 5.4
  - 5.5
#  - hhvm

matrix:
  allow-failures:
 #   - php: hhvm

  env:
    global:
      - ES_VER=1.0.1
      - ES_MAPPER_ATTACHMENTS_VER=2.0.0.RC1
      - ES_TRANSPORT_THRIFT_VER=2.0.0.RC1
      - ES_GEOCLUSTER_FACET_VER=0.0.10
      - ES_WAIT_ON_MAPPING_CHANGE=true
      - DATABASE='drupal'
      - DB_USERNAME='root'
      - DB_ENCODE='utf8'
    matrix:
      - DRUPAL_3RD_PARTY='composer_manager'
      - DRUPAL_3RD_PARTY='libraries'

mysql:
  database: $DATABASE
  username: $DB_USERNAME
  encoding: $DB_ENCODE

before_install:
  - export UPDATE TRAVIS_BUILD_DIR
  - BUILD_TOP=`dirname $TRAVIS_BUILD_DIR`
  - EXIT_VALUE='It worked!'

  - sudo apt-get update > /dev/null

  - composer self-update
install:
  # install drush globally
  - composer global require drush/drush:6.*

  # add composer's global bin directory to the path
  # see: https://github.com/drush-ops/drush#install---composer
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
before_script:
  # install all nessary things we need to run a headless browser and drupal
  - sudo apt-get install -y --force-yes apache2 libapache2-mod-php5 php5-curl php5-mysql php5-intl git
  # leverage Apache’s default VirtualHost, and use sed to stretch it to our needs:
  - sudo sed -i -e "s,/var/www,$(pwd)/web,g" /etc/apache2/sites-available/default
  - sudo /etc/init.d/apache2 restart
  - sudo mkdir -p /var/www
  - sudo chown travis:travis /var/www
  - cd /var/www
  - git clone https://github.com/carsoncho/drupal.git drupal
  # leverage a utility called xvfb, or “X virtual framebuffer”.
  - sh -e /etc/init.d/xvfb start
  - export DISPLAY=:99.0
  # download and get selenium running
  - wget http://selenium-release.storage.googleapis.com/2.45/selenium-server-standalone-2.45.0.jar
  - java -jar selenium-server-standalone-2.45.0.jar > /dev/null &
  # need to sleep because we have to wait for selenium to start otherwise our behat tests will fail 
  - sleep 5

  # get drush recipes setup functions
  #  - sudo chown -R travis:travis ~/.drush
  #  - cd ~/.drush/
  #  - git clone https://github.com/drupalprojects/drush_recipes.git
  #  - drush cc drush

script:
  # run build scripts against our new site
  - cd /var/www/drupal
  - drush site-install standard --y --db-url=mysql://root@localhost/travisdb --db-su='root' --db-su-pw='' --site-name='Standard'
# this is where you run a bunch of commands / automated tests for harmony
after_script:
  # Enable Clean urls
  - drush vset clean_url 1
  # run behat tests
  - bin/behat
notifications:
  #irc: irc.freenode.org#harmony

  email: false

